.icon-1x1 {
    height:calc(88vh/26);
    width:calc(88vh/26);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-1x2 {
    height:calc(88vh/26);
    width:calc(88vh/13);
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-1x3 {
    height:calc(88vh/26);
    width:calc(88vh/8.66);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-2x2 {
    height:calc(88vh/13);
    width:calc(88vh/13);
    // margin: 0.4vh 0.2vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-3x2 {
    height:calc(88vh/13);
    width:calc(88vh/8.66);
    margin: 0.4vh 0.2vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

