@import 'icons-size';

body {
    background-image: url(../assets/background/stone-texture.svg);
    background-size: 20%;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.map {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px 2px;
    background-image: url(../assets/objets/tablero/Tablero.jpg);
    background-size: 101% 102%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    outline:30px solid #000;

    &__cell {
        height:calc(88vh/26);
        width:calc(88vh/26);
    }
}

.icons{
    position: fixed;
    border-radius: 10px;
    top:30px;
    left: 100px;
    height: 80vh;
    width: calc((88vh/8.66)+10px);
    margin-top: 5vh;
    padding: 10px;
    background-color:rgb(119, 71, 71);
    border:4px solid #000;

    &__monsters {
        height:calc((88vh/26)*3);
        width:calc((88vh/26)*3);
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

}

.monsters {
    
    &__skull {
        background-image: url(../assets/objets/monstruos/Esqueleto.png);
    }
    &__ork {
        background-image: url(../assets/objets/monstruos/Orco.png);
    }
    &__goblin {
        background-image: url(../assets/objets/monstruos/Goblin.png);
    }
    &__chaos-warrior {
        background-image: url(../assets/objets/monstruos/Guerrero-del-Caos.png);
    }
    &__zombie {
        background-image: url(../assets/objets/monstruos/Zombi.png);
    }
    &__mummy {
        background-image: url(../assets/objets/monstruos/Momia.png);
    }
    &__fimir {
        background-image: url(../assets/objets/monstruos/Fimir.png);
    }
    &__gargoyle {
        background-image: url(../assets/objets/monstruos/Gargola.png);
    }
}

.furniture {

    &__alchimist {
        background-image: url(../assets/objets/muebles/Banco-de-alquimista.png);
    }
    &__fireplace {
        background-image: url(../assets/objets/muebles/Chimenea.png);
    }
    &__vault {
        background-image: url(../assets/objets/muebles/Cofre.png);
    }
    &__bookshelf-1 {
        background-image: url(../assets/objets/muebles/Libreria-1.png);
    }
    &__bookshelf-2 {
        background-image: url(../assets/objets/muebles/Libreria-2.png);
    }
    &__table {
        background-image: url(../assets/objets/muebles/Mesa.png);
    }
    &__wizard-table {
        background-image: url(../assets/objets/muebles/Mesa-de-brujo.png);
    }
    &__armory {
        background-image: url(../assets/objets/muebles/Panoplia-de-armas.png);
    }
    &__torture-colt {
        background-image: url(../assets/objets/muebles/Portro-de-tortura.png);
    }
    &__throne {
        background-image: url(../assets/objets/muebles/Trono.png);
    }
    &__grave {
        background-image: url(../assets/objets/muebles/Tumba.png);
    }
}