.icon-1x1 {
  height: calc(88vh/26);
  width: calc(88vh/26);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-1x2 {
  height: calc(88vh/26);
  width: calc(88vh/13);
  margin: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-1x3 {
  height: calc(88vh/26);
  width: calc(88vh/8.66);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-2x2 {
  height: calc(88vh/13);
  width: calc(88vh/13);
  margin: 0.4vh 0.2vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-3x2 {
  height: calc(88vh/13);
  width: calc(88vh/8.66);
  margin: 0.4vh 0.2vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-image: url(../assets/background/stone-texture.svg);
  background-size: 20%;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.map {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 2px 2px;
  background-image: url(../assets/objets/tablero/Tablero.jpg);
  background-size: 101% 102%;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  outline: 30px solid #000;
}

.map__cell {
  height: calc(88vh/26);
  width: calc(88vh/26);
}

.icons {
  height: 90vh;
  width: calc((88vh/8.66)+10px);
  position: fixed;
  left: 100px;
  top: 0;
  margin: 2.5vh 0;
  padding: 10px;
  background-color: white;
  border: 4px solid #000;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons__monsters {
  height: calc((88vh/26)*3);
  width: calc((88vh/26)*3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.icons__furniture {
  margin: 5px 0;
}

.icons__doors-traps {
  height: calc((88vh/26)*4);
  width: calc((88vh/26)*3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.monsters__skull {
  background-image: url(../assets/objets/monstruos/Esqueleto.png);
}

.monsters__ork {
  background-image: url(../assets/objets/monstruos/Orco.png);
}

.monsters__goblin {
  background-image: url(../assets/objets/monstruos/Goblin.png);
}

.monsters__chaos-warrior {
  background-image: url(../assets/objets/monstruos/Guerrero-del-Caos.png);
}

.monsters__zombie {
  background-image: url(../assets/objets/monstruos/Zombi.png);
}

.monsters__mummy {
  background-image: url(../assets/objets/monstruos/Momia.png);
}

.monsters__fimir {
  background-image: url(../assets/objets/monstruos/Fimir.png);
}

.monsters__gargoyle {
  background-image: url(../assets/objets/monstruos/Gargola.png);
}

.furniture__alchimist {
  background-image: url(../assets/objets/muebles/Banco-de-alquimista.png);
}

.furniture__fireplace {
  background-image: url(../assets/objets/muebles/Chimenea.png);
}

.furniture__vault {
  background-image: url(../assets/objets/muebles/Cofre.png);
}

.furniture__bookshelf-1 {
  background-image: url(../assets/objets/muebles/Libreria-1.png);
}

.furniture__bookshelf-2 {
  background-image: url(../assets/objets/muebles/Libreria-2.png);
}

.furniture__table {
  background-image: url(../assets/objets/muebles/Mesa.png);
}

.furniture__wizard-table {
  background-image: url(../assets/objets/muebles/Mesa-de-brujo.png);
}

.furniture__armory {
  background-image: url(../assets/objets/muebles/Panoplia-de-armas.png);
}

.furniture__torture-colt {
  background-image: url(../assets/objets/muebles/Portro-de-tortura.png);
}

.furniture__throne {
  background-image: url(../assets/objets/muebles/Trono.png);
}

.furniture__grave {
  background-image: url(../assets/objets/muebles/Tumba.png);
}

.doors-traps__door {
  background-image: url(../assets/objets/puertas/Puerta.png);
  margin-top: calc(-88vh/52);
}

.doors-traps__secret-door {
  background-image: url(../assets/objets/puertas/Puerta-secreta-1.png);
  margin-top: calc(-88vh/52);
}

.doors-traps__fall-rocks {
  background-image: url(../assets/objets/trampas/Roca-caida.png);
}

.doors-traps__spear {
  background-image: url(../assets/objets/trampas/Lanzas.png);
}

.doors-traps__abyss {
  background-image: url(../assets/objets/trampas/Abismo.png);
}

.doors-traps__stairs {
  background-image: url(../assets/objets/puertas/Escalera.png);
}
/*# sourceMappingURL=style.css.map */