@import 'variables';
@import 'icons-size';

body {
    background-image: url(../assets/background/stone-texture.svg);
    background-size: 20%;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
}

.trash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width:100vw;
    cursor: help;
}

.map {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-image: url(../assets/objets/tablero/Tablero.jpg);
    background-size: 101% 102%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: content-box;
    outline:3vh solid #000;
    z-index: 2;

    &__cell {
        height:$map-scale/26;
        width:$map-scale/26;
    }
}

.icons{
    height: 100vh;
    width: $map-scale/6;
    position: fixed;
    left: 0;
    top:0;
    background-color:rgb(0, 0, 0);
    border-right: 0.6vh solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__monsters {
        height:$map-scale/26*3;
        width:$map-scale/26*3;
        margin: 1vh;
        padding: 1vh;
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        border-radius: 1vh;
        background-color:rgb(255, 255, 255);
    }
    
    &__furniture {
        margin: 1vh;
        border-radius: 1vh;
        background-color:rgb(255, 255, 255);
        width:$map-scale/26*3;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        padding: 1vh;
        margin: 5px 1vh;
    }
    
    &__doors-traps {
        margin: 1vh;
        border-radius: 1vh;
        background-color:rgb(255, 255, 255);
        padding: 1vh;
        height:$map-scale/26*4;
        width:$map-scale/26*3;
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    
    .buttons {
        margin: 1vh;
        padding: 1vh;
        height: $map-scale/52*2;
        width:$map-scale/26*3;
        display: flex;
        justify-content: space-between;
        
        .button {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height:$map-scale/20;
            width:$map-scale/20;
            background-color: red;
            text-align: center;
            color: rgb(236, 221, 8);
            border-radius: 1vh;
            font-size: 0.5em;
            &:hover {
                background-color: orange;
                color: red;
            }
        }
    }
}

.monsters {
    
    &__skull {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Esqueleto.png);
    }
    &__ork {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Orco.png);
    }
    &__goblin {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Goblin.png);
    }
    &__chaos-warrior {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Guerrero-del-Caos.png);
    }
    &__zombie {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Zombi.png);
    }
    &__mummy {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Momia.png);
    }
    &__fimir {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Fimir.png);
    }
    &__gargoyle {
        border-radius: 50%;
        background-image: url(../assets/objets/monstruos/Gargola.png);
    }
}

.furniture {

    &__alchimist {
        background-image: url(../assets/objets/muebles/Banco-de-alquimista.png);
    }
    &__fireplace {
        background-image: url(../assets/objets/muebles/Chimenea.png);
    }
    &__vault {
        background-image: url(../assets/objets/muebles/Cofre.png);
    }
    &__bookshelf-first {
        background-image: url(../assets/objets/muebles/Libreria-1.png);
    }
    &__bookshelf-double {
        background-image: url(../assets/objets/muebles/Libreria-2.png);
    }
    &__table {
        background-image: url(../assets/objets/muebles/Mesa.png);
    }
    &__wizard-table {
        background-image: url(../assets/objets/muebles/Mesa-de-brujo.png);
    }
    &__armory {
        background-image: url(../assets/objets/muebles/Panoplia-de-armas.png);
    }
    &__torture-colt {
        background-image: url(../assets/objets/muebles/Portro-de-tortura.png);
    }
    &__throne {
        background-image: url(../assets/objets/muebles/Trono.png);
    }
    &__grave {
        background-image: url(../assets/objets/muebles/Tumba.png);
    }
    &__1x1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.doors-traps {
    &__door {
        background-image: url(../assets/objets/puertas/Puerta.png);
        margin-top: calc(-88vh/52);

    }
    &__secret-door {
        background-image: url(../assets/objets/puertas/Puerta-secreta-1.png);
        margin-top: calc(-88vh/52);
    }
    &__fall-rocks {
        background-image: url(../assets/objets/trampas/Roca-caida.png);
    }
    &__fall-rocks-double {
        background-image: url(../assets/objets/trampas/Roca-caida-doble.png);
    }
    &__spear {
        background-image: url(../assets/objets/trampas/Lanzas.png);
    }
    &__abyss {
        background-image: url(../assets/objets/trampas/Abismo.png);
    }
    &__stairs {
        background-image: url(../assets/objets/puertas/Escalera.png);
    }
}

[tabindex] {
    &:hover{
        outline: 2px solid red;
    }
}