.icon-1x1 {
  height: 4.61538vh;
  width: 4.61538vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-1x2 {
  height: 4.61538vh;
  width: 9.23077vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-1x3 {
  height: 4.61538vh;
  width: 13.85681vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-2x2 {
  height: 9.23077vh;
  width: 9.23077vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon-3x2 {
  height: 9.23077vh;
  width: 13.85681vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

body {
  background-image: url(../assets/background/stone-texture.svg);
  background-size: 20%;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.trash {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  cursor: help;
}

.map {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-image: url(../assets/objets/tablero/Tablero.jpg);
  background-size: 101% 102%;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  outline: 3vh solid #000;
  z-index: 2;
}

.map__cell {
  height: 4.61538vh;
  width: 4.61538vh;
}

.icons {
  height: 100vh;
  width: 20vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  border-right: 0.6vh solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons__monsters {
  height: 13.84615vh;
  width: 13.84615vh;
  margin: 1vh;
  padding: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 1vh;
  background-color: white;
}

.icons__furniture {
  margin: 1vh;
  border-radius: 1vh;
  background-color: white;
  width: 13.84615vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1vh;
  margin: 5px 1vh;
}

.icons__doors-traps {
  margin: 1vh;
  border-radius: 1vh;
  background-color: white;
  padding: 1vh;
  height: 18.46154vh;
  width: 13.84615vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.icons .buttons {
  margin: 1vh;
  padding: 1vh;
  height: 4.61538vh;
  width: 13.84615vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icons .buttons .button {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  width: 6vh;
  background-color: red;
  text-align: center;
  color: #ecdd08;
  border-radius: 1vh;
  font-size: 0.5em;
}

.icons .buttons .button:hover {
  background-color: orange;
  color: red;
}

.monsters__skull {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Esqueleto.png);
}

.monsters__ork {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Orco.png);
}

.monsters__goblin {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Goblin.png);
}

.monsters__chaos-warrior {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Guerrero-del-Caos.png);
}

.monsters__zombie {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Zombi.png);
}

.monsters__mummy {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Momia.png);
}

.monsters__fimir {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Fimir.png);
}

.monsters__gargoyle {
  border-radius: 50%;
  background-image: url(../assets/objets/monstruos/Gargola.png);
}

.furniture__alchimist {
  background-image: url(../assets/objets/muebles/Banco-de-alquimista.png);
}

.furniture__fireplace {
  background-image: url(../assets/objets/muebles/Chimenea.png);
}

.furniture__vault {
  background-image: url(../assets/objets/muebles/Cofre.png);
}

.furniture__bookshelf-first {
  background-image: url(../assets/objets/muebles/Libreria-1.png);
}

.furniture__bookshelf-double {
  background-image: url(../assets/objets/muebles/Libreria-2.png);
}

.furniture__table {
  background-image: url(../assets/objets/muebles/Mesa.png);
}

.furniture__wizard-table {
  background-image: url(../assets/objets/muebles/Mesa-de-brujo.png);
}

.furniture__armory {
  background-image: url(../assets/objets/muebles/Panoplia-de-armas.png);
}

.furniture__torture-colt {
  background-image: url(../assets/objets/muebles/Portro-de-tortura.png);
}

.furniture__throne {
  background-image: url(../assets/objets/muebles/Trono.png);
}

.furniture__grave {
  background-image: url(../assets/objets/muebles/Tumba.png);
}

.furniture__1x1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doors-traps__door {
  background-image: url(../assets/objets/puertas/Puerta.png);
  margin-top: calc(-88vh/52);
}

.doors-traps__secret-door {
  background-image: url(../assets/objets/puertas/Puerta-secreta-1.png);
  margin-top: calc(-88vh/52);
}

.doors-traps__fall-rocks {
  background-image: url(../assets/objets/trampas/Roca-caida.png);
}

.doors-traps__fall-rocks-double {
  background-image: url(../assets/objets/trampas/Roca-caida-doble.png);
}

.doors-traps__spear {
  background-image: url(../assets/objets/trampas/Lanzas.png);
}

.doors-traps__abyss {
  background-image: url(../assets/objets/trampas/Abismo.png);
}

.doors-traps__stairs {
  background-image: url(../assets/objets/puertas/Escalera.png);
}

[tabindex]:hover {
  outline: 2px solid red;
}
/*# sourceMappingURL=style.css.map */