body {
    background-color:#FF0000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
}

.map {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px 2px;
    // background-color:#000;
    background-image: url(../assets/objets/tablero/Tablero.jpg);
    
    background-size: 101% 102%;
    background-position: center;
    background-repeat: no-repeat;

    background-clip: content-box;
    // margin: 30px;
    // border:2px solid rgba(0, 0, 0, 0.2);
    outline:30px double #000;

    &__cell {
        // background-color:#FFF;
        height:calc(88vh/26);
        width:calc(88vh/26);
    }
}

.icon-1x1 {
    height:calc(88vh/26);
    width:calc(88vh/26);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-1x2 {
    height:calc(88vh/26);
    width:calc(88vh/13);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-1x3 {
    height:calc(88vh/26);
    width:calc(88vh/8.66);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-2x3 {
    height:calc(88vh/8.66);
    width:calc(88vh/13);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}
.icon-3x2 {
    height:calc(88vh/13);
    width:calc(88vh/8.66);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.icons{
    position: fixed;
    top:30px;
    left: 100px;
    height: 500px;
    width: calc((88vh/8.66)+10px);
    margin-top: 30px;

    &__monsters {
        height:calc((88vh/26)*3);
        width:calc((88vh/26)*3);
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    &__skull {
        background-image: url(../assets/objets/monstruos/Esqueleto.png);
    }
    &__ork {
        background-image: url(../assets/objets/monstruos/Orco.png);
    }
    &__goblin {
        background-image: url(../assets/objets/monstruos/Goblin.png);
    }
    &__chaos-warrior {
        background-image: url(../assets/objets/monstruos/Guerrero-del-Caos.png);
    }
    &__zombie {
        background-image: url(../assets/objets/monstruos/Zombi.png);
    }
    &__mummy {
        background-image: url(../assets/objets/monstruos/Momia.png);
    }
    &__fimir {
        background-image: url(../assets/objets/monstruos/Fimir.png);
    }
    &__gargoyle {
        background-image: url(../assets/objets/monstruos/Gargola.png);
    }
    &__alchimist {
        background-image: url(../assets/objets/muebles/Banco-de-alquimista.png);
    }
    &__fireplace {
        background-image: url(../assets/objets/muebles/Chimenea.png);
    }
    &__vault {
        background-image: url(../assets/objets/muebles/Cofre.png);
    }
    &__bookshelf-1 {
        background-image: url(../assets/objets/muebles/Libreria-1.png);
    }
    &__bookshelf-2 {
        background-image: url(../assets/objets/muebles/Libreria-2.png);
    }
    &__table {
        background-image: url(../assets/objets/muebles/Mesa.png);
    }
    &__wizard-table {
        background-image: url(../assets/objets/muebles/Mesa-de-brujo.png);
    }
    &__armory {
        background-image: url(../assets/objets/muebles/Panoplia-de-armas.png);
    }
    &__torture-colt {
        background-image: url(../assets/objets/muebles/Portro-de-tortura.png);
    }
    &__throne {
        background-image: url(../assets/objets/muebles/Trono.png);
    }
    &__grave {
        background-image: url(../assets/objets/muebles/Tumba.png);
    }
}
